.style_arrow{
  font-size: 2rem;
  color: cornflowerblue;
  cursor: pointer;
}
.style_arrow:hover{
  opacity: 0.7;
}
.content_reset_pw{
  margin-top: 3rem;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}
