<!--breadcrumb-->
<div class="page-breadcrumb d-none d-sm-flex align-items-center">
    <!-- <div class="breadcrumb-title pe-3 text-white">Pages</div> -->
    <div class="ps-3">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb mb-0 p-0">
                <li class="breadcrumb-item"><a href="javascript:;"><i class="bx bx-home-alt"></i></a>
                </li>

            </ol>
        </nav>
    </div>

</div>
<!--end breadcrumb-->

<div class="main">


    <!-- <div class="card shadow-sm border-0 overflow-hidden">
        <div class="container-fluid">
            <form class="form-horizontal" [formGroup]="uploadForm" enctype="multipart/form-data" (ngSubmit)="onSubmit()"
                novalidate>
                <br>

                <h1 class="mb-1 text-center">Đề xuất học bổng</h1>
                <br>
                <div class="align-content-center col-4 m-auto">
                    <div class="row ">
                        <div class="col-4">
                            <h3>Họ Và Tên: </h3>
                        </div>
                        <div class="col-8">

                            <h2 formControlName="FullName">{{ this.uploadForm.get('FullName')!.value }}</h2>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-4 text-left">
                            <h3>Số điện thoại: </h3>
                        </div>
                        <div class="col-8">
                            <h2 formControlName="Phone">{{this.uploadForm.get('Phone')!.value}}</h2>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-4  text-left">
                            <h3>Email: </h3>
                        </div>
                        <div class="col-8">
                            <h2 formControlName="Email">{{this.uploadForm.get('Email')!.value}}</h2>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-5  text-left">
                            <h3>Chuyên ngành: </h3>
                        </div>
                        <div class="col-7">
                            <h2 formControlName="Majors">{{this.uploadForm.get('Majors')!.value}}</h2>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-6  text-left">
                            <h3>Chứng chỉ tiếng anh </h3>
                        </div>
                        <div class="col-6">
                            <h2 formControlName="EnglishCertificate">
                                {{this.uploadForm.get('EnglishCertificate')!.value}}</h2>
                        </div>
                    </div>
                    <div class="row me-auto">
                        <div class="col-4  text-left">
                            <h3>Học bổng: </h3>
                        </div>
                        <div class="col-7">
                            <select formControlName="TypeScholarship" class="mb-1 form-select-sm">
                                <option *ngFor="let opt of ngScholarship" [value]="opt.value">{{opt.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row me-auto">
                        <div class="col-6  text-left">
                            <h3>Deadline học bổng: </h3>
                        </div>
                        <div class="col-6">
                            <input formControlName="Deadline" type="date" class="form-control" />
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <button type="submit" class="btn bg-info btn-flat text-white">Đề xuất học bổng</button>
                    </div>
                </div>

                <br>
            </form>

        </div>
    </div> -->

    
        <div class="container-fluid">

            <div class="row">


                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">

                            <h6 class="card-title">Đề xuất học bổng</h6>
                            <!-- <p class="card-title-desc">Parsley is a javascript form validation library. It helps
                                you provide your users with feedback on their form submission before sending it
                                to your server.</p> -->

                            <form [formGroup]="uploadForm" enctype="multipart/form-data" (ngSubmit)="onSubmit()"
                                novalidate class="custom-validation">

                                <div class="mb-3 position-relative">
                                    <label class="form-label">Họ Và Tên: </label>
                                    <div>
                                        <input formControlName="FullName" type="text" class="form-control" required />
                                    </div>
                                </div>
                                <div class="mb-3 position-relative">
                                    <label class="form-label">Số điện thoại</label>
                                    <div>
                                        <input formControlName="Phone" type="phone" class="form-control" required />
                                    </div>
                                </div>
                                <div class="mb-3 position-relative">
                                    <label class="form-label">Email</label>
                                    <div>
                                        <input type="email" formControlName="Email" class="form-control" required />
                                    </div>
                                </div>
                                <div class="mb-3 position-relative">
                                    <label class="form-label">Chuyên ngành</label>
                                    <div>
                                        <input formControlName="Majors" type="text" class="form-control" required />
                                    </div>
                                </div>
                                <div class="mb-3 position-relative">
                                    <label class="form-label">Trình độ Tiếng Anh</label>
                                    <div>
                                        <input type="text" class="form-control" formControlName="EnglishCertificate"
                                            required />
                                    </div>
                                </div>
                                <div class="mb-3 position-relative">
                                    <label class="form-label">Học bổng</label>

                                    <div>
                                        <select formControlName="TypeScholarship" class="form-select">
                                            <option *ngFor="let opt of ngScholarship" [value]="opt.value">{{opt.name}}
                                            </option>
    
                                        </select>
                                    </div>

                                    


                                    <!-- <div>
                                        <input class="form-control" type="text range" min="6" max="100"
                                            placeholder="Number between 6 - 100" required />
                                    </div> -->
                                </div>
                                <div class="mb-3 position-relative">
                                    <label class="form-label">Hạn học bổng</label>
                                    <div>
                                        <input formControlName="Deadline" type="date" class="form-control" required/>
                                       
                                    </div>
                                    
                                </div>

                                <div class="mb-0">
                                    <div>
                                        <button type="submit" class="btn btn-primary waves-effect waves-light">
                                            Lưu
                                        </button>
                                        <button (click)="backProfile()" type="reset" class="btn btn-secondary waves-effect ms-1">
                                            Quay lại
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <!-- end col -->
            </div>
            <!-- end row -->

        </div>
        <!-- container-fluid -->
    

</div>