<div class="management-event-list-page">
    <div class="row text-center mb-2">
        <h3>Danh sách các sự kiện</h3>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-8 box-shadow">
            <!--<nz-calendar>
        <ul *nzDateCell="let date" class="events">
          <ng-container [ngSwitch]="date.getDate()">
            <ng-container *ngSwitchCase="8">
              <li *ngFor="let item of listDataMap.eight">
                <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
              </li>
            </ng-container>
            <ng-container *ngSwitchCase="10">
              <li *ngFor="let item of listDataMap.ten">
                <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
              </li>
            </ng-container>
            <ng-container *ngSwitchCase="11">
              <li *ngFor="let item of listDataMap.eleven">
                <nz-badge [nzStatus]="item.type" [nzText]="item.content"></nz-badge>
              </li>
            </ng-container>
          </ng-container>
        </ul>
        <ng-container *nzMonthCell="let month">
          <div *ngIf="getMonthData(month) as monthData" class="notes-month">
            <section>{{ monthData }}</section>
            <span>Backlog number</span>
          </div>
        </ng-container>
      </nz-calendar> -->
            <full-calendar [options]="calendarOptions"></full-calendar>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4">
            <div class="list-event">
                <div class="item-event card" *ngFor="let item of events; let i = index">
                    <div class="card-body">
                        <h4 class="card-title"> Tên: {{item.title}}</h4>
                        <p class="card-title-desc"><i class="bi bi-person-fill"></i> Số lượng vé : {{item.Tickets}}</p>
                        <p class="card-title-desc"><i class="bi bi-stopwatch"></i> Thời gian: {{item.start | date:"dd/MM/yyyy hh:mm"}} - {{item.end | date:"dd/MM/yyyy
                            hh:mm"}}</p>
                        <p class="card-title-desc"><i class="bi bi-currency-dollar"></i> Chi phí: {{item.Expense}}</p>
                        <p class="card-title-desc"><i class="bi bi-card-text"></i> Mô tả: {{item.Description}}</p>
                        
                        <div class="row">
                            <div class="col-12">

                                <div class="button-items">
                                    <button (click)="pressDel(item.id)" *ngIf="Role == 3"
                                        class="btn btn-outline-success waves-effect waves-light"><i
                                            class="far fa-trash-alt"> Xóa</i></button>
                                    <button (click)="detailAnEvent(item.id)"
                                        class="btn btn-outline-success waves-effect waves-light"><i class="far fa-eye">
                                            Xem</i></button>


                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<ng-template #contentTemplate>
    <div class="list-item-btn">
        <a (click)="pressDel(3)"><i class="bi bi-trash3"></i>Xóa</a>
        <a (click)="detailAnEvent(3)"><i class="bi bi-eye"></i>Xem</a>
    </div>
</ng-template>

<nz-modal [(nzVisible)]="deleteModal" nzTitle="Xác nhận xóa" (nzOnCancel)="handleCancelModalDelete()"
    (nzOnOk)="handleOkDeleteFee()">
    <ng-container *nzModalContent>
        <span>Bạn có chắc chán muốn xóa sự kiện này khỏi danh sách?</span>
    </ng-container>
</nz-modal>

<nz-modal class="modal-detail" [(nzVisible)]="detailEvent" nzTitle="Chi tiết sự kiện" (nzOnOk)="handleOkViewDetail()"
    (nzOnCancel)="handleCancelVeiwDetail()">
    <!--(nzOnCancel)="handleCancelVeiwDetail()"-->
    <ng-container *nzModalContent>
        <div class="detail-event">
            <div class="info-event-card">
                <div class="event-card-title">
                    <span>Tên: {{event.Name}}</span>
                </div>
                <div class="event-card-info">
                    <div class="item">
                        <span>Thời gian: {{event.StartDate | date:"dd/MM/yyyy hh:mm"}} - {{event.EndDate | date:"dd/MM/yyyy
                            hh:mm"}}</span>
                    </div>
                    <div class="item">
                        <span>Chi phí: {{event.Expense}}</span>
                    </div>
                    <div class="item">
                        <span>Vé chống: 100</span>
                    </div>
                    <div class="item">
                        <span>Số lượng vé: {{event.Tickets}}</span>
                    </div>
                </div>
                <div class="event-card-des">
                    <span>Mô tả: {{event.Description}}</span>
                </div>
            </div>
            <div class="all-student-table mt-4">
                <div class="row text-center mb-3">
                    <h3>Danh sách tất cả sinh viên</h3>
                </div>
                <!--<div class="row fillter-wrap">
                    <div class="col-12 col-sm-4 col-md-6 search-input">
                        <input type="text" class="form-control" placeholder="Tìm kiếm" aria-describedby="inputGroup-sizing-default" />
                        <button class="btn btn-primary"><i class="bi bi-search"></i></button>
                    </div>
                    <div class="col-12 col-sm-3 col-md-2">
                        <div class="item-fillter">
                            <select class="form-select" id="year">
                <option>2021</option>
                <option>2022</option>
                <option>2024</option>
              </select>
                            <label for="year">Năm</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-2 col-md-2">
                        <div class="item-fillter">
                            <select class="form-select">
                <option value="">Kỳ 1</option>
                <option value="">Kỳ 2</option>
              </select>
                            <label>Kỳ</label>
                        </div>
                    </div>
                </div>-->
                

                <div class="row fillter-wrap">
                    <div class="text-center">
                        <div class="item-fillter mutilFilter">
                            <button class="btn btn-success" nz-button nz-popover nzPopoverTitle="Filter" [nzPopoverContent]="contentTemplate" nzPopoverPlacement="bottom" nzPopoverTrigger="click"><i
                                    class="bi bi-funnel"></i>Filter</button>
                            <ng-template #contentTemplate>
                                <div>

                                    <div class="section-fillter">
                                        <div class="section-title">
                                            <span>Hồ sơ</span>
                                        </div>
                                        <div class="section-content">
                                            <nz-checkbox-group [(ngModel)]="checkOptionsListStudentOne" (ngModelChange)="log(checkOptionsListStudentOne)"></nz-checkbox-group>
                                        </div>
                                    </div>

                                    <div class="section-fillter">
                                        <div class="section-title">
                                            <span>Nguồn hồ sơ</span>
                                        </div>
                                        <div class="section-content">
                                            <nz-checkbox-group [(ngModel)]="checkOptionsListStudentThree" (ngModelChange)="log(checkOptionsListStudentThree)"></nz-checkbox-group>
                                        </div>
                                    </div>
                                    <div class="section-fillter">
                                        <div class="section-title">
                                            <span>Trình độ Tiếng Anh</span>
                                        </div>
                                        <div class="section-content">
                                            <label nz-checkbox>Chưa Xếp Lớp</label>
                                            <label nz-checkbox>Level 1</label>
                                            <label nz-checkbox>Level 2</label>
                                            <label nz-checkbox>Level 3</label>
                                            <label nz-checkbox>Level 4</label>
                                            <label nz-checkbox>Summit 1</label>
                                            <label nz-checkbox>Summit 2</label>
                                        </div>
                                    </div>
                                    <div class="footer-modal text-end mt-2">
                                        <button class="btn btn-primary btn-apply"><i class="bi bi-check2-circle"></i></button>
                                    </div>
                                </div>
                            </ng-template>
                        </div>
                    </div>
                    
                </div>
                
                <div class="tbl-wrap">
                    <nz-table #rowSelectionTable nzShowPagination [nzData]="listStudent" class="tbl">
                        <thead>
                            <tr>
                                <th class="text-center"><input [(ngModel)]="parentSelector" (change)="onChange($event)"
                                        [value]="-1" class="form-check-input" type="checkbox" /></th>
                                <th>STT</th>
                                <th>Họ tên</th>
                                <th class="text-center">Chuyên ngành</th>
                                <th>Tư vấn phụ trách</th>
                                <th>Số điện thoại</th>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let student of rowSelectionTable.data; let i = index">
                                <td class="text-center"><input [value]="student.Id" (change)="onChange($event)"
                                        [checked]="student.select" class="form-check-input" type="checkbox" /></td>
                                <td>{{i+1}}</td>
                                <td (click)="showProfile(student.Id)" role="button">{{student.FullName}}</td>
                                <td class="text-center">{{student.Majors}}</td>
                                <td>{{student.Admission}}</td>
                                <td>{{student.Phone}}</td>
                                <td>{{student.Email}}</td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
            <div class="row text-center btn-add">
                <div class="col-lg-12">
                    <button (click)="addStudentsToEvent(event.Id)" class="btn btn-primary w-fit">
                        <i class="bi bi-plus-circle"></i> Thêm sinh viên vào sự kiện
                    </button>
                </div>
                <!-- <div class="col-lg-1">
                    <button class="btn btn-success w-fit">
                        <i class="bi bi-plus-circle"></i> Filter
                    </button>
                </div> -->
               
                
            </div>
            <div class="attend-student-table mt-3">
                <div class="row text-center mb-3">
                    <h3>Danh sách sinh viên tham gia sự kiện</h3>
                </div>
                <!--<div class="row fillter-wrap">
                    <div class="col-12 col-sm-4 col-md-6 search-input">
                        <input type="text" class="form-control" placeholder="Tìm kiếm" aria-describedby="inputGroup-sizing-default" />
                        <button class="btn btn-primary"><i class="bi bi-search"></i></button>
                    </div>
                    <div class="col-12 col-sm-3 col-md-2">
                        <div class="item-fillter">
                            <select class="form-select" id="year">
                <option>2021</option>
                <option>2022</option>
                <option>2024</option>
              </select>
                            <label for="year">Năm</label>
                        </div>
                    </div>
                    <div class="col-12 col-sm-2 col-md-2">
                        <div class="item-fillter">
                            <select class="form-select">
                <option value="">Kỳ 1</option>
                <option value="">Kỳ 2</option>
              </select>
                            <label>Kỳ</label>
                        </div>
                    </div>
                </div>-->
                <div class="tbl-wrap">
                    <nz-table #rowSelectionTable2 nzShowPagination [nzData]="listStudentEvent" class="tbl">
                        <thead>
                            
                            <tr>
                                <th class="text-center"><input
                                    [value]="-1" class="form-check-input" type="checkbox" /></th>
                                <th>STT</th>
                                <th>Họ tên</th>
                                <th class="text-center">Chuyên ngành</th>
                                <th>Tư vấn phụ trách</th>
                                <th>Số điện thoại</th>
                                <th>Email</th>
                                <th class="text-center">Trạng thái</th>
                                <th class="text-center">Hành động</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let student of rowSelectionTable2.data; let i = index">
                                <th class="text-center"><input
                                    [value]="-1" class="form-check-input" type="checkbox" /></th>
                                <td>{{i+1}}</td>
                                <td (click)="showProfile(student.Id)" role="button">{{student.FullName}}</td>
                                <td class="text-center">{{student.Majors}}</td>
                                <td>{{student.Admission}}</td>
                                <td>{{student.Phone}}</td>
                                <td>{{student.Email}}</td>
                                <td class="text-center">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div *ngIf="student.EnoughProfile === 1" class="badge badge-soft-success">Hồ sơ đủ</div>
                                            <div *ngIf="student.EnoughProfile === 0" class="badge badge-soft-danger">Hồ sơ thiếu</div>
                                            <div *ngIf="student.EnoughProfile === 2" class="badge badge-soft-success">Đã xác nhận đủ hồ sơ</div>
                                        </div>
                                    </div> 
                                </td>
                                <td class="text-center">
                                    <button (click)="deleteStudentToEvent(student)" class="btn btn-icon">
                                        <i class="bi bi-trash3"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>
    </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="deleteStudentModal" nzTitle="Xác nhận xóa" (nzOnCancel)="handleCancelStudentDelete()"
    (nzOnOk)="handleOkStudentModal()">
    <ng-container *nzModalContent>
        <span>Bạn có chắc chán muốn xóa sự kiện này khỏi danh sách?</span>
    </ng-container>
</nz-modal>