// 
// _card.scss
// 

.card {
  border: none;
  margin-bottom: $grid-gutter-width;
  box-shadow: $box-shadow;
  background-color: lighten($body-bg, 4%);
}

.card-drop {
  color: $body-color;
}

.card-title {
  font-size: 15px;
  margin: 0 0 7px 0;
}

.card-title-desc {
  color: $card-title-desc;
  margin-bottom: 24px;  
}


