<div class="container py-3">

    <div class="row d-flex justify-content-center">
        <div class="col-md-12">
            <!--col-lg-8 col-xl-6-->

            <div class="card shadow" id="chat2">
                <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h6 class="mb-0">Tới: Cán bộ tuyển sinh</h6>
                    <!--<button type="button" class="btn btn-primary btn-sm" data-mdb-ripple-color="dark">
            Leave the room</button>-->
                </div>
                <div class="card-body" data-mdb-perfect-scrollbar="true"
                    style="position: relative; height: 400px; overflow: auto;">
                    <div *ngFor="let msg of messages">
                        <div class="d-flex flex-row justify-content-start" *ngIf="!checkUser(msg.username)">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava4-bg.webp"
                                alt="avatar 1" style="width: 45px; height: 100%;">
                            <div>
                                <p *ngIf="msg.content !== ''" class="small p-2 ms-3 mb-1 rounded-3 bg-success"
                                    style="background-color: #f5f6f7;">{{msg.content}}</p>
                                <div *ngIf="msg.file !== '' && msg.file !== null &&  msg.file !== undefined"
                                    class="small p-2 ms-3 mb-1 rounded-3">
                                    <img *ngIf="isImage(msg.file)" (click)="onClickImage(msg.file)"
                                        class="chat-left-msg custom-cursor" width="70px" height="70px"
                                        [src]="'http://localhost:3000/uploads/chat/' + msg.file" alt="">
                                    <a class="chat-left-msg" *ngIf="!isImage(msg.file)"
                                        [href]="'http://localhost:3000/download/' + msg.file">{{msg.file}}</a>
                                </div>
                                <p class="small ms-3 mb-3 rounded-3 text-muted">{{msg.timestamp}}</p>
                            </div>
                        </div>

                        <!-- <div class="divider d-flex align-items-center mb-4">
              <p class="text-center mx-3 mb-0" style="color: #a2aab7;">Today</p>
            </div> -->

                        <div class="d-flex flex-row justify-content-end mb-4 pt-1" *ngIf="checkUser(msg.username)">
                            <div>
                                <p *ngIf="msg.content !== ''"
                                    class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">{{msg.content}}</p>
                                <div *ngIf="msg.file !== '' && msg.file !== null &&  msg.file !== undefined"
                                    class="small p-2 me-3 mb-1 text-white rounded-3">
                                    <img *ngIf="isImage(msg.file)" (click)="onClickImage(msg.file)"
                                        class="chat-left-msg custom-cursor" width="70px" height="70px"
                                        [src]="'http://localhost:3000/uploads/chat/' + msg.file" alt="">
                                    <a class="chat-left-msg" *ngIf="!isImage(msg.file)"
                                        [href]="'http://localhost:3000/download/' + msg.file">{{msg.file}}</a>
                                </div>
                                <p class="small me-3 mb-3 rounded-3 text-muted d-flex justify-content-end">
                                    {{msg.timestamp}}</p>
                            </div>
                            <img src="../../../assets/icons/user-circle-solid.svg" alt="avatar 1"
                                style="width: 45px; height: 100%;">
                        </div>


                    </div>

                </div>
                <div *ngIf="room !== ''"
                    class="border-top text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2">
                    <!-- <img src="../../../assets/icons/user-circle-solid.svg" alt="avatar 3"
    style="width: 40px; height: 100%;"> -->
                    <input (keydown.enter)="sendMessage()" [(ngModel)]="message" name="message" type="text"
                        class="form-control form-control-lg" id="exampleFormControlInput2" placeholder="Type message">

                    <button class="btn btn-success waves-light"><nz-upload (nzChange)="handleChange($event)"
                            [(ngModel)]="file" nzAction="https://www.mocky.io/v2/5cc8019d300000980a055e76"
                            nzListType="picture" [(nzFileList)]="fileList" [nzLimit]=1 [nzMultiple]="false">

                            <i nz-icon nzType="upload" type="button" class="bi bi-upload"></i>


                        </nz-upload></button>
                    <button (click)="sendMessage()" class="btn btn-primary waves-light ms-2">
                        <i class="fab fa-telegram-plane"></i>
                    </button>
                </div>
            </div>

        </div>
    </div>

</div>