<div class="confirm-fee-page">
    <div class="row title-page text-center">
        <span>Danh sách tình trạng nộp học phí của sinh viên</span>
    </div>
    <div class="row justify-content-center">
        <div class="row general-info">
            <div class="col-md-3 col-sm-3 col-12 card-info text-center">
                <div class="title-card">
                    <span>Sinh viên đã nộp đủ phí</span>
                </div>
                <div class="card-content">
                    <span>0</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-12 card-info text-center">
                <div class="title-card">
                    <span>Sinh viên thiếu phí giữ chỗ</span>
                </div>
                <div class="card-content">
                    <span>2</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-12 card-info text-center">
                <div class="title-card">
                    <span>Sinh viên thiếu phí xét tuyển</span>
                </div>
                <div class="card-content">
                    <span>2</span>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-12 card-info text-center">
                <div class="title-card">
                    <span>Sinh viên chưa nộp phí</span>
                </div>
                <div class="card-content">
                    <span>2</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row fillter-wrap">
        <div class="col-12 col-sm-4 col-md-6 search-input">
            <input type="text" class="form-control" placeholder="Tìm kiếm" aria-describedby="inputGroup-sizing-default" />
            <button class="btn btn-primary"><i class="bi bi-search"></i></button>
        </div>
        <div class="col-12 col-sm-3 col-md-2">
            <div class="item-fillter">
                <select class="form-select" id="year">
          <option>2021</option>
          <option>2022</option>
          <option>2024</option>
        </select>
                <label for="year">Năm</label>
            </div>
        </div>
        <div class="col-12 col-sm-2 col-md-2">
            <div class="item-fillter">
                <select class="form-select">
          <option value="">Kỳ 1</option>
          <option value="">Kỳ 2</option>
        </select>
                <label>Kỳ</label>
            </div>
        </div>
        <div class="col-12 col-sm-3 col-md-2">
            <div class="item-fillter">
                <select class="form-select">
          <option value="">Đã nộp</option>
          <option value="">Chưa nộp</option>
        </select>
                <label for="">Trạng thái</label>
            </div>
        </div>
    </div>
    <div class="tbl-wrap">
        <nz-table #rowSelectionTable nzShowPagination nzShowSizeChanger [nzData]="listPayment" class="tbl">
            <thead>
                <tr>
                    <th class="text-center">STT</th>

                    <th>Tên sinh viên</th>
                    <!--<th>Tên tư vấn</th>-->
                    <th>Số điện thoại</th>
                    <th>Email</th>
                    <th>Link hóa đơn</th>
                    <th>Loại phí</th>
                    <th class="text-center">Chuyên ngành</th>
                    <th class="text-center">Tình trạng</th>
                    <!--<th class="text-center">Trạng thái</th>-->
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of listPayment; let i = index">
                    <td class="text-center">{{ i + 1 }}</td>

                    <td>{{data.Student.FullName}}</td>

                    <td>{{data.Student.Phone}}</td>
                    <td>{{data.Student.Email}}</td>
                    <td>Link hóa đơn</td>


                    <td>{{data.FeeName}}</td>
                    <td class="text-center">{{data.Student.Majors}}</td>
                    <!--<td class="text-center">
                        <div class="card-status" [ngClass]="{
                'card-status--notFee': i % 2 == 0,
                'card-status--completeFee': i % 2 != 0
              }">
                            <span>{{ i % 2 == 0 ? 'Chưa nộp phí' : 'Đã nộp phí' }}</span>
                        </div>
                    </td> -->
                    <td>
                        <span *ngIf="data.Status == 0 || data.Status == null">Chưa nộp phí</span>
                        <span *ngIf="data.Status == 1 || data.Status == null">Đã nộp phí</span>
                        <span *ngIf="data.Status == 2 || data.Status == null">Chờ xác nhận nộp phí</span>
                    </td>
                    <td class="text-center">
                        <div class="btn-icon">
                            <a (click)="deletePayment(data.Id)"><i class="bi bi-trash3"></i></a>
                            <a (click)="editPayment(data.Id)"><i class="bi bi-pencil-square"></i></a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
</div>
<nz-modal [(nzVisible)]="deleteModal" nzTitle="Xác nhận xóa" (nzOnCancel)="handleCancelModalDelete()" (nzOnOk)="handleOkDeleteFee()">
    <ng-container *nzModalContent>
        <span>Bạn có chắc chán muốn xóa sinh viên này khỏi danh sách?</span>
    </ng-container>
</nz-modal>

<nz-modal [(nzVisible)]="editModal" nzTitle="Cập nhật trạng thái" (nzOnCancel)="handleCancelModalEdit()" (nzOnOk)="handleOkEditFee()">
    <ng-container *nzModalContent>
        <div class="edit-status">
            <nz-radio-group [(ngModel)]="radioValue">
                <label nz-radio nzValue="0">
          <div class="card-status card-status--notPayment">
            <span>Chưa nộp phí</span>
          </div></label
        >
        <label nz-radio nzValue="1"
          ><div class="card-status card-status--completePayment">
            <span>Đã nộp phí</span>
          </div></label
        >
        <label nz-radio nzValue="2"
          ><div class="card-status card-status--pendingPayment">
            <span>Đang chờ xử lý</span>
          </div></label
        >
      </nz-radio-group>
    </div>
    
  </ng-container>
</nz-modal>