<div class="dashboard-page">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xl-6 col-12 mb-4">
                <div class="card bg-c-blue order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Khách truy cập</h6>
                        <h2 class="text-right"><i class="bi bi-person-check-fill"></i><span>1030</span></h2>
                        <p class="m-b-0">7 ngày qua<span class="f-right"><i class="bi bi-arrow-up-right"></i>351</span></p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-xl-6 col-12 mb-4">
                <div class="card bg-c-green order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Cuộc trò chuyện</h6>
                        <h2 class="text-right"><i class="bi bi-chat-dots-fill"></i><span>203</span></h2>
                        <p class="m-b-0">7 ngày qua<span class="f-right"><i class="bi bi-arrow-up-right"></i>53</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-6 col-12 mb-4">
                <div class="card bg-c-yellow order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Số lần xem trang</h6>
                        <h2 class="text-right"><i class="bi bi-binoculars-fill"></i><span>486</span></h2>
                        <p class="m-b-0">7 ngày qua<span class="f-right"><i class="bi bi-arrow-down-left"></i>351</span></p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-xl-6 col-12 mb-4">
                <div class="card bg-c-pink order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Báo cáo</h6>
                        <p class="m-b-0">Quan điểm tích cực<span class="f-right"><i class="bi bi-arrow-up-right"></i>331</span></p>
                        <p class="m-b-0">Tham gia<span class="f-right"><i class="bi bi-arrow-down-left"></i>311</span></p>
                        <p class="m-b-0">Tính khả dụng<span class="f-right"><i class="bi bi-arrow-up-right"></i>651</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
