<div class="dashboard-page">
    <div class="container">
        <div class="row">
        <div class="col-12 col-md-12 col-lg-5 item-input-info">
            <div class="item-input-info">
                <label>Chọn khoảng thời gian: </label>
                <div class="calendar-input">
                    <!--<nz-calendar [(ngModel)]="date" [(nzMode)]="mode"></nz-calendar>-->
                    <nz-range-picker [nzShowTime]="true" ></nz-range-picker>
                </div>
            </div>
        </div>
        </div>
        <div class="row mt-3">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-yellow text-center">
                    <div class="mb-2 card-body text-muted">
                        
                        <h3 class="text-info mt-2"><i class="bi bi-arrow-up-right"></i> 15,852</h3> Tổng số hồ sơ
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-blue text-center">
                    <div class="mb-2 card-body text-muted">
                        <h3 class="text-purple mt-2"><i class="bi bi-arrow-up-right"></i> 9,514</h3> Đầy đủ hồ sơ
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-pink text-center">
                    <div class="mb-2 card-body text-muted">
                        <h3 class="text-primary mt-2"><i class="bi bi-arrow-up-right"></i> 289</h3> Nộp đủ phí
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-green text-center">
                    <div class="mb-2 card-body text-muted">
                        <h3 class="text-danger mt-2"><i class="bi bi-arrow-up-right"></i> 5,220</h3> Xác nhận đi học
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3">

            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Tổng hồ sơ theo khoảng thời gian</h4>
    
                        <!-- <div class="row text-center mt-4">
                            <div class="col-6">
                                <h5 class="mb-2 font-size-18">56241</h5>
                                <p class="text-muted text-truncate">Marketplace</p>
                            </div>
                            <div class="col-6">
                                <h5 class="mb-2 font-size-18">23651</h5>
                                <p class="text-muted text-truncate">Total Income</p>
                            </div>
                        </div> -->
    
                        <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions3" style="width: 100%; height: 400px; display: block;">
                        </highcharts-chart>
                    </div>
                </div>
            </div>
    
            <div class="col-xl-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Tổng hồ sơ theo tuyển sinh</h4>
    
                        <!-- <div class="row text-center mt-4">
                            <div class="col-4">
                                <h5 class="mb-2 font-size-18">56241</h5>
                                <p class="text-muted text-truncate">Marketplace</p>
                            </div>
                            <div class="col-4">
                                <h5 class="mb-2 font-size-18">23651</h5>
                                <p class="text-muted text-truncate">Total Income</p>
                            </div>
                            <div class="col-4">
                                <h5 class="mb-2 font-size-18">23651</h5>
                                <p class="text-muted text-truncate">Total Month</p>
                            </div>
                        </div> -->
    
                        <highcharts-chart [Highcharts]="highcharts" [options]="chartOptions2" style="width: 100%; height: 400px; display: block;">
                        </highcharts-chart>
                    </div>
                </div>
            </div>
    
        </div>
        <!-- end row -->
        <!-- <div class="row">
            <div class="col-md-6 col-xl-6 col-12 mb-4">
                <div class="card bg-c-blue order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Khách truy cập</h6>
                        <h2 class="text-right"><i class="bi bi-person-check-fill"></i><span>1030</span></h2>
                        <p class="m-b-0">7 ngày qua<span class="f-right"><i class="bi bi-arrow-up-right"></i>351</span></p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-xl-6 col-12 mb-4">
                <div class="card bg-c-green order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Cuộc trò chuyện</h6>
                        <h2 class="text-right"><i class="bi bi-chat-dots-fill"></i><span>203</span></h2>
                        <p class="m-b-0">7 ngày qua<span class="f-right"><i class="bi bi-arrow-up-right"></i>53</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-6 col-12 mb-4">
                <div class="card bg-c-yellow order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Số lần xem trang</h6>
                        <h2 class="text-right"><i class="bi bi-binoculars-fill"></i><span>486</span></h2>
                        <p class="m-b-0">7 ngày qua<span class="f-right"><i class="bi bi-arrow-down-left"></i>351</span></p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-xl-6 col-12 mb-4">
                <div class="card bg-c-pink order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">Báo cáo</h6>
                        <p class="m-b-0">Quan điểm tích cực<span class="f-right"><i class="bi bi-arrow-up-right"></i>331</span></p>
                        <p class="m-b-0">Tham gia<span class="f-right"><i class="bi bi-arrow-down-left"></i>311</span></p>
                        <p class="m-b-0">Tính khả dụng<span class="f-right"><i class="bi bi-arrow-up-right"></i>651</span></p>
                    </div>
                </div>
            </div>
        </div> -->
        
    </div>
</div>