.card-status {
    border-style: outset;
    border-radius: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    margin: 10px;
}

.status-invalid {
    width: auto;
    margin: 5px;
    padding: 3px;
    /* text-align: center; */
    border-radius: 10px;
    background-color: rgb(233, 71, 50);
    
}

.status-valid {
    width: auto;
    margin: 5px;
    padding: 3px;
    /* text-align: center; */
    border-radius: 10px;
    background-color: rgb(49, 173, 70);
}

::ng-deep.ant-modal {
    width: 600px;
}

.ant-dropdown-trigger {
    margin-left: 8px;
}